.components-custom-gradient-picker__item {
  display: block;
  flex: 5 1 0%;
  max-height: 100%;
  max-width: 100%;
  min-height: 0px;
  min-width: 0px;
}
.components-custom-gradient-picker__item .kadence-controls-content {
  gap: 12px;
}
.components-custom-gradient-picker__item .kadence-controls-content .components-base-control {
  margin-bottom: 0;
  flex: 10 0 0;
}
.components-custom-gradient-picker__item .kadence-control-toggle-advanced.only-icon {
  flex: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  font-weight: 600;
  font-style: normal;
  text-transform: uppercase;
  height: 30px;
  line-height: 1.2;
  border: 1px solid #CBD5E0;
  border-radius: 2px;
  background: transparent;
  color: #4A5568;
  padding: 4px;
  box-shadow: none;
  white-space: normal;
}
.components-custom-gradient-picker__item .kadence-control-toggle-advanced.only-icon svg {
  width: 20px;
}
.components-custom-gradient-picker__item .kadence-control-toggle-advanced.only-icon.is-primary {
  border-color: var(--wp-admin-theme-color, #00669b);
  background: var(--wp-admin-theme-color, #00669b);
  color: #fff;
  box-shadow: none;
}

.block-editor-block-inspector .components-custom-gradient-picker__item .kadence-select-large .components-select-control__input {
  height: 40px;
  min-height: 40px;
}

.kadence-gradient-position-control .kadence-gradient-position_header .kadence-gradient-position__label {
  margin: 0px 0px 8px;
  display: block;
}

.kadence-gradient-position-control .components-unit-control-wrapper {
  flex-grow: 1;
}

.kadence-gradient-control .components-custom-gradient-picker__gradient-bar .components-custom-gradient-picker__control-point-dropdown {
  position: absolute;
  height: 16px;
  width: 16px;
  top: 16px;
  display: flex;
}

.kadence-gradient-control .components-custom-gradient-picker__gradient-bar .components-custom-gradient-picker__control-point-button {
  height: inherit;
  width: inherit;
  border-radius: 50%;
  padding: 0;
  box-shadow: inset 0 0 0 var(--wp-admin-border-width-focus) #fff, 0 0 2px 0 rgba(0, 0, 0, 0.25);
  outline: 2px solid transparent;
  position: static;
  top: auto;
}

.kadence-gradient-control .components-custom-gradient-picker__gradient-bar:not(.has-gradient) {
  opacity: 0.4;
}

.kadence-gradient-control .components-custom-gradient-picker__ui-line .components-base-control {
  margin-bottom: 0;
}
.kadence-gradient-control .components-custom-gradient-picker__ui-line .components-base-control .components-base-control__field {
  margin-bottom: 0;
}

.kadence-gradient-control .components-custom-gradient-picker__gradient-bar {
  border-radius: 2px;
  width: 100%;
  height: 48px;
  margin-bottom: 16px;
  padding-right: 0;
}
.kadence-gradient-control .components-custom-gradient-picker__gradient-bar .components-custom-gradient-picker__markers-container {
  position: relative;
  width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}
.kadence-gradient-control .components-custom-gradient-picker__gradient-bar .components-custom-gradient-picker__control-point-dropdown {
  position: absolute;
  height: 16px;
  width: 16px;
  top: 16px;
  display: flex;
}
.kadence-gradient-control .components-custom-gradient-picker__gradient-bar .components-custom-gradient-picker__insert-point-dropdown {
  position: relative;
  height: inherit;
  width: inherit;
  min-width: 16px;
  border-radius: 50%;
  background: #fff;
  padding: 2px;
  color: #111;
}
.kadence-gradient-control .components-custom-gradient-picker__gradient-bar .components-custom-gradient-picker__insert-point-dropdown svg {
  height: 100%;
  width: 100%;
}

.kadence-gradient-control .components-angle-picker-control .components-input-control__container .components-input-control__input {
  height: 32px;
  padding-left: 8px;
  padding-right: 8px;
}/*# sourceMappingURL=editor.css.map */